
.headboard {
    font-weight: 1000;
    font-size: 1.2em;
    padding: 0px 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.headboard .a:hover{
    text-decoration: underline;
}
.headboard .b:hover{
    text-decoration: underline;
}
.headboard .c:hover{
    text-decoration: underline;
}
.headboard .d:hover{
    text-decoration: underline;
}

#navbar-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#wrapper-gender {
    position: sticky;
    font-weight: 500;
    top: 67px;
    z-index: 1000;
    width: 100%;
    background: #76885B;
    text-align: left;
    padding-left: 50px;

}


.cartBTN {
    width: 120px;
    height: 50px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}

.cartBTN:hover {
    background: white;
    color: black;

}

body .container-fluid {
    background: #627254;
    margin-top: -10px;
    margin-bottom: -10px;


}

body {
    background: #D6DAC8;
    overflow-x: hidden;
}
.collapse navbar-collapse{
    border: 1px solid black;
    font-size: 2em;
}

.navbar-collapse .navbar-nav li {
    font-weight: 600;

}

.navbar-toggler:not(.collapsed) {
    border: 1px solid black;
}

.searchBTNSmall {
    width: 100px;
    height: 37px;
    border: 1px solid black;
    font-weight: 500;
    background: transparent;
    border-radius: 6px;


}

.navbar-brand {
    font-weight: 1000;
}




